### LIST
student = ["Asad","Faraz","Majid","Kashif"]
#index = [   0,     1,      2        3]

In [2]:
student[1]

'Faraz'

In [3]:
student[3]

'Kashif'

In [7]:
alist =["string",123,65.24,False]

In [9]:
alist[3]

False

In [10]:
del alist[0]

In [11]:
alist[0]

123

In [12]:
alist.append("hello world")

AttributeError: 'list' object attribute 'append' is read-only

In [13]:
alist[0]="Pakistan"

In [14]:
alist

['Pakistan', 65.24, False]

In [16]:
list2=[11,22,33,44,55,66,77,88,99]
list2

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [18]:
list2.remove(88)

In [19]:
list2

[11, 22, 33, 44, 55, 66, 77, 99]

In [24]:
list2.count(77)

1

In [30]:
list2.sort(reverse=False)
list2

[11, 22, 33, 44, 55, 66, 77, 99]

In [31]:
list2.insert(0,22)
# zero index pe value 22 insert ki hai

In [32]:
list2

[22, 11, 22, 33, 44, 55, 66, 77, 99]

In [33]:
list3=[99,88,77,66,55,44,333,22,11]

In [34]:
a = ['apple','banana','orange']
a

['apple', 'banana', 'orange']

In [36]:
b=a # pass by reference
b

['apple', 'banana', 'orange']

In [39]:
#c=a.copy() and c=a[:] have same function
c =a[:]
c

['apple', 'banana', 'orange']

In [46]:
a.insert(2,'banana')
a

['apple', 'apple', 'banana', 'orange']

In [56]:
list4=list3.copy()

list4

[99, 88, 77, 66, 55, 44, 333, 22, 11]

In [57]:
list3

[99, 88, 77, 66, 55, 44, 333, 22, 11]

In [59]:
del list3[4] #deleting from list3 
list3

[99, 88, 77, 66, 333, 22, 11]

In [60]:
list4 # but value'55' is still in list4 which was a reference of list3 at time when 55 was in the list

[99, 88, 77, 66, 55, 44, 333, 22, 11]

In [61]:
list3.sort(reverse=False)

list3

[11, 22, 66, 77, 88, 99, 333]

In [64]:
list3.sort(reverse=True)
list3

[333, 99, 88, 77, 66, 50, 22, 11]

In [63]:
list3.append(50)
list3

[333, 99, 88, 77, 66, 22, 11, 50]

In [76]:
listmelist=[11,23,56,78,['APPLE','ORANGE','BANANA']] # there is list inside a list 
#index    =[0, 1, 2, 3, (           4             )]

listmelist

[11, 23, 56, 78, ['APPLE', 'ORANGE', 'BANANA']]

In [77]:

listmelist[3]

78

In [79]:
listmelist[4]

['APPLE', 'ORANGE', 'BANANA']

In [82]:
listmelist[4][1] # index 1 value of index 4

'ORANGE'

# LISTinLIST

listinlist1=[11,22,33,['apple','orange','Watermelon'],12,4]
listinlist1

In [96]:
listinlist1[3].remove('apple')

ValueError: list.remove(x): x not in list

In [97]:
listinlist1

[11, 22, 33, ['orange', 'Watermelon'], 12, 4]

In [110]:
##REVERSE INDEXING

rvlist=     [1,  2, 3, 4, 5, 6, 7, 8, 9]  #normal indexing value 0 se so on
#rvrseindex[-9,-8,-7,-6,-5,-4,-3,-2,-1]  #reverse indexing -1 se negative to your desire values

In [111]:
rvlist[-1] # here on reverse index '-1' the value is '9'

9

#### POPING ELEMENTS

In [ ]:
rlist=[1,2,3,4,5,6,7,8]
poppedlist=[]  # khali bracket pe last se value uthayga

In [5]:
poppedElements=rlist.pop()
poppedlist.append(poppedElements)

NameError: name 'rlist' is not defined

In [6]:
print(rlist)

NameError: name 'rlist' is not defined

In [3]:
###Slicing

In [4]:
alist=[0,1,2,3,4,5,6,7,8] #n-1 value hogi 
# here total values are 8 hain mgr value 7 ai end ki
alist[2:8]

[2, 3, 4, 5, 6, 7]

In [11]:
listx=["Ahmad","Shah",1234]

In [13]:
x,y,z=listx #unpacking list

In [14]:
x

'Ahmad'

In [15]:
y

'Shah'

In [16]:
z

1234