# SLICING

In [11]:
a = [11,22,33,44,55,66,77,88,99,100] # jo value hm dete hain us se 1 km include hota ha 
a[1]

22

In [7]:
a[4:]

[55, 66]

In [8]:
a[:4]

[11, 22, 33, 44]

In [18]:
a[2:6:1]

[33, 44, 55, 66]

# Tupples

In [19]:
t=('faraz','asad',123) #tuple is the a kind of Packing
t

('faraz', 'asad', 123)

In [20]:
type(t) #tuple is immutable as it cannot be edit,delete or modified

tuple

In [21]:
a,b,c=t #unpacking the values to a specific variables

In [22]:
a

'faraz'

In [23]:
b

'asad'

In [24]:
c

123

In [25]:
s = t+t #concat the same tuple twice with itself

In [26]:
s

('faraz', 'asad', 123, 'faraz', 'asad', 123)

In [35]:
q= t+s[1:4] #slicing in tuples 
q

('faraz', 'asad', 123, 'asad', 123, 'faraz')

# LOOPS

In [38]:
students = ['Ahmad','Ghazi','Jami'] #plural 
print(students)

['Ahmad', 'Ghazi', 'Jami']

In [41]:
for student in students:
    print(student)

Ahmad
Ghazi
Jami

In [49]:
for a in range(0,10):
    print(a, end=" ")

0 1 2 3 4 5 6 7 8 9

In [56]:
for a in range(0,10,2): #even nmbers
    print(a, end=" ")

0 2 4 6 8 10 12 14

In [57]:
for a in range(10,0,-1):
    print(a,end=" ")

10 9 8 7 6 5 4 3 2 1

In [71]:
table = int(input("enter the Value for table"))
for num in range(1,11):
    
        if num==6:
            break

        print(f"{table} * {num} = {table*num}")

enter the Value for table6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30

In [72]:
table = int(input("enter the Value for table"))
for num in range(1,11):
    if num==6:
        break  #runs until 6 then break
    print(f"{table} * {num} = {table*num}")

enter the Value for table4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20

In [73]:
table = int(input("enter the Value for table"))
for num in range(1,11):
    if num==6:
        continue  #only skip the 6 value
    print(f"{table} * {num} = {table*num}")

enter the Value for table4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [78]:
first_names = ["Bluray","Lojack","Donna"]
last_names = ["Swag","Koji","Kim"]
full_names=[]

for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name)
        
full_names

['Bluray Swag',
 'Bluray Koji',
 'Bluray Kim',
 'Lojack Swag',
 'Lojack Koji',
 'Lojack Kim',
 'Donna Swag',
 'Donna Koji',
 'Donna Kim']

In [82]:
table_nmbrs = int(input("Enter the values"))
for table_nmbr in range(2,table_nmbrs+1):
    for num in range(1,11):
         print(f"{table_nmbrs} * {num} = {table_nmbrs*num}")

Enter the values6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [83]:
table_nmbrs = int(input("Enter the values"))
for table_nmbr in range(2,9):
    for num in range(1,11):
         print(f"{table_nmbrs} * {num} = {table_nmbrs*num}")

Enter the values5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50